---
import { locales, type Locale } from "../../i18n";
import { translations } from "../../i18n/translations";
import Layout from "../../layouts/Layout.astro";
import Navbar from "../../components/Navbar.astro";
import Hero from "../../components/Hero.astro";
import Features from "../../components/Features.astro";
import HowItWorks from "../../components/HowItWorks.astro";
import Architecture from "../../components/Architecture.astro";
import TechStack from "../../components/TechStack.astro";
import QuickStart from "../../components/QuickStart.astro";
import OpenSource from "../../components/OpenSource.astro";
import Footer from "../../components/Footer.astro";
import "../../styles/global.css";

export function getStaticPaths() {
  return locales.map((locale) => ({ params: { locale } }));
}

const locale = Astro.params.locale as Locale;
const t = translations[locale];
---

<Layout title={t.meta.title} description={t.meta.description} locale={locale}>
  <Navbar locale={locale} />
  <main>
    <Hero locale={locale} />
    <Features locale={locale} />
    <HowItWorks locale={locale} />
    <Architecture locale={locale} />
    <TechStack locale={locale} />
    <QuickStart locale={locale} />
    <OpenSource locale={locale} />
  </main>
  <Footer locale={locale} />
</Layout>
